.row{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.movie-row{
    display:flex;
    margin-top: 20px;
    gap: 20px;
    overflow-x: scroll;
}
/* pseudo class to design the scroll bar */
::-webkit-scrollbar{
    display: none;
}

.movie{
    height: 200px;
    width: 100%;
    border-radius: 5px;
    transition: 460ms;
}

.movie:hover {
    transform: scale(1.05);
}

.movie-poster{
    height: 350px;
}
